:root {
    --brand-color: #4D5AE5;
    --tittle-text-color: #2E2F42;
    --main-background-color:#E5E5E5;
    --background-color: #F4F4FD;
    --white-text-color: #ffffff;
    --description-text-color: #434455;
}
body {
    background-color: var(--white-text-color);
    color: var(--tittle-text-color);
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}
.list {
    list-style: none;
}

.logo {
    color: var(--tittle-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;

font-weight: 800;
font-size: 18px;
line-height:1.33;
letter-spacing:0.03em;

}
 .accent {
    color: var(--brand-color);
}


.site-nav .link {
    color: var(--tittle-text-color);
    text-decoration: none;

}
.site-nav .link:hover,
.site-nav .link:focus  {
   color: var(--brand-color);
}




.contact {
font-weight: 400;

}

.contact .links {
color: var(--description-text-color);
    text-decoration: none;
}
 
.contact .links:hover,
 .contact .links:focus {

    color: var(--brand-color);
}

.hero {
    background-color: var( --tittle-text-color);
}

.hero-tittle {


font-size: 56px;
line-height: 1.07;
text-align: center;
color: var(--white-text-color);
}

.button {
font-size: 16px;
line-height:1.87;
text-align: center;

letter-spacing: 0.04em;


}
.main-button {
    background-color: var(--brand-color);
    color: var(--white-text-color);
    
}

.main-button:hover,
.main-button:focus
{

background-color: #404BBF;
cursor: pointer;
}



.main {
    
    background-color: #ffffff ;
}

.main .visibility {
    visibility: hidden;
}

.main-qualities {
font-size: 20px;
line-height: 1.2;


}
.main-qualities .tittle {
color: var(--tittle-text-color);
}

.main-qualities .kind {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;


color: var(--description-text-color);
}

.main-photos {
    background-color: #ffffff;
}

.second-tittle {
font-size: 36px;
line-height: 1.1;
text-align: center;
text-transform: capitalize;


color: var(--tittle-text-color);

}

.photos {
    background-color: var(--background-color);
}

.workers .employee {
    background-color: var(--white-text-color);
font-size: 20px;
line-height: 1.2;
color: var(--description-text-color);
    text-align: left;
}

.workers .features{
    background-color: var(--white-text-color);
    
font-weight: 400;

color: var(--description-text-color);
    text-align: left;
}

.information {
    background-color: var(--tittle-text-color);
}

.secondary-logo {
    color: var(--background-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height:1.33;
letter-spacing:0.03em;
}

.secondary-accent {
   color: var(--brand-color); 
}

.second-kind {
    color: #E7E9FC;
    
font-weight: 400;

}


.buttontype {
    background-color: #ffffff;
}
.buttontype .visibility {
    visibility: hidden;
}
.buttons {
    
letter-spacing: 0.04em;
cursor: pointer;

}

.first-button {
    background-color: var(--brand-color);
    color: var(--white-text-color);
}

.first-button:hover,
.first-button:focus
{
    background-color: #404BBF;
    cursor: pointer;
}


.second-button {
    background-color: #E7E9FC;
    color: var(--brand-color);
    cursor: pointer;
}

.second-button:hover,
.second-button:focus {
    background-color: #404BBF;
}







.img {
    
font-size: 20px;
line-height: 1.2;
 }



 .img .third-tittle {
color: var( --tittle-text-color)
}

.img .third-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;

color: var(--description-text-color);

}

