:root {
    --brand-color: #4D5AE5;
    --tittle-text-color: #2E2F42;
    --main-background-color:#E5E5E5;
    --background-color: #F4F4FD;
    --white-text-color: #ffffff;
    --description-text-color: #434455;
}
.basis-body {
    background-color: var(--white-text-color);
    color: var(--tittle-text-color);
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;

}
.list {
    list-style: none;
}

.logo {
    color: var(--tittle-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height:1,33;
letter-spacing:0.03em;

}
 .accent {
    color: var(--brand-color);
}

.site-nav {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
font-size: 16px;
line-height: 1,5;




}
.site-nav .link {
    color: var(--tittle-text-color);
    text-decoration: none;

}
.site-nav .link:hover {
    color: var(--description-text-color);
}
.site-nav .link:focus {
color: var(--brand-color);
}

.contact {
font-weight: 400;
font-size: 16px;
line-height: 1,5;


}
.contact .links {
color: var(--description-text-color);
    text-decoration: none;
}
 .contact .links:hover,
 .contact .links:focus {

 
    color: var(--brand-color);
}
.hero {
    background-color: var( --tittle-text-color);
}
.hero-tittle {
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 1,07;


text-align: center;
letter-spacing: 0.02em;



color: var(--white-text-color);
}
.button {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height:1,87;
text-align: center;


letter-spacing: 0.04em;


}
.main-button {
    background-color: var(--brand-color);
    color: var(--white-text-color);
    cursor: pointer;
}
.main-button:hover {
   background-color: var(--brand-color);
    color: var(--white-text-color); 

}
.main-button:focus {
    background-color: #404BBF;
}
.main {
    background-color: var(--main-background-color);


}
.main .visibility {
    visibility: hidden;
}
.main-qualities {
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1,2;
letter-spacing: 0.02em;

}
.main-qualities .tittle {
color: var(--tittle-text-color);
}
.main-qualities .kind {
    font-weight: 400;
font-size: 16px;
line-height: 1,5;

color: var(--description-text-color);
}
.main-photos {
    background-color:#E5E5E5;
}
.second-tittle {
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1,1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: var(--tittle-text-color);

}
.photos {
    background-color: var(--background-color);
}
.workers .employee {
    background-color: var(--white-text-color);
    
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1,2;
letter-spacing: 0.02em;
color: var(--description-text-color);
    text-align: left;
}
.workers .features{
    background-color: var(--white-text-color);
    
font-weight: 400;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: var(--description-text-color);
    text-align: left;
}
.information {
    background-color: var(--tittle-text-color);
}
.secondary-logo {
    color: var(--background-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height:1,33;
letter-spacing:0.03em;
}
.secondary-accent {
   color: var(--brand-color); 
}
.second-kind {
    color: #E7E9FC;
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,5;


letter-spacing: 0.02em;




}



